.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding-inline: 10%;
    width: 100%;
    z-index: 99;
    transition: .3s;
    backdrop-filter: blur(10px);

    .rightSection{
        gap: 5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 50%;

.logoContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;

    .logo{
        cursor: pointer;
        user-select:  none;
        font-size: 1rem;
        text-decoration: none;
        font-family: 'Clash Display';
        font-weight: 500;
    }

}
.navlinkContainer{
    margin-inline: 5%;
    z-index: 9;
    padding: .9rem 1.5rem;
    border-radius: 30px;
}
}

    }

/* .container::after{
    content: '';
    width: 95vw;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    position: absolute;
    background-color: lightgray;
    bottom: 0;
    mix-blend-mode: difference;
} */

.socialContainer{
    justify-self: flex-end;
    padding: .9rem 1.5rem;
    border-radius: 30px;
    
}

@media(max-width: 1024px){
    .container{
        padding-inline: 1rem ;

        .rightSection{
            .logoContainer{
                .logo{
                    font-size: .8rem;
                }
            }

        }
      
    }

    .container::after{
        width: 90%;
       
    }
}