  @import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* ::-webkit-scrollbar{
  display: none;
} */

/* @font-face {
  font-family: 'Roboto';
  src:  url('assets/fonts/roboto/RobotoCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */
:root{
    --gold: #FFB600;
    --yellow: #F7B226;
    /* --primary-color: #0B0F19; */
    --primary-color: #1C1C1A;
    --orange: #EB4630;
    --gray: #6d6d6d;
    --print-black: #212427;
    --red: #BC2524;

}

*{
  box-sizing: border-box;
  /* outline: lightgray dashed; */
  margin: 0;
}

body {
   font-size: 16px;
   font-family:'Thasadith', sans-serif;
    font-weight: 400;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   position: relative;
   min-height: 100vh; 
   overflow-x: hidden;
}


